[submodule "SpaceVim"]
	path = submodules/SpaceVim
	url = https://github.com/SpaceVim/SpaceVim
[submodule "foo-Wallpaper-Feh-Gif"]
	path = submodules/foo-Wallpaper-Feh-Gif
	url = https://github.com/thomas10-10/foo-Wallpaper-Feh-Gif
[submodule "submodules/apricity-icons"]
	path = submodules/apricity-icons
	url = https://github.com/Apricity-OS/apricity-icons
[submodule "submodules/i3-gaps"]
	path = submodules/i3-gaps
	url = https://github.com/Airblader/i3/
[submodule "submodules/libinput-gestures"]
	path = submodules/libinput-gestures
	url = https://github.com/bulletmark/libinput-gestures
